<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnpdit.IntelligentPlanting"
    android:versionCode="1"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="com.sxit.dreamiya.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />  
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> 

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.lnpdit.woofarm.base.application.DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name="com.lnpdit.woofarm.page.activity.welcome.WelcomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.welcome.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="引导页" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="登陆页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.login.RegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="注册界面 " />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.login.ForgetActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="找回密码界面 " />
        </activity>
     
        <activity
            android:name="com.lnpdit.woofarm.page.activity.setting.AddressListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="地址列表界面 " />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.setting.EditAddressActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="编辑地址界面 " />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.product.MyOrderActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的订单列表" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.product.MyOrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="我的订单-订单详情" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.MainTabHostActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首页页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.FarmLoginActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="首页页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.product.CameraListActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="摄像头列表页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.ShoppingActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="购物车页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.PersonalActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="个人页面" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.FarmingManagementActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农事管理" />
        </activity>

 <activity
            android:name="com.lnpdit.woofarm.page.activity.farm.FarmListActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农场列表" />
        </activity>
        <activity
            android:name="com.lnpdit.woofarm.page.activity.farm.GreenHouseInfoActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="大棚信息" />
        </activity>
          <activity
            android:name="com.lnpdit.woofarm.page.activity.farmingmanagement.ZuowukuListActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="作物库列表" />
        </activity>
         <activity
            android:name="com.lnpdit.woofarm.page.activity.farmingmanagement.ZuowuInfoActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="作物库详情" />
        </activity>
         <activity
            android:name="com.lnpdit.woofarm.page.activity.farmingmanagement.PlantingManagementListActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="种植管理列表" />
        </activity>
        
              <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.FarmServiceActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农技服务" />
        </activity>
      <activity
            android:name="com.lnpdit.woofarm.page.activity.tabhost.item.FarmInformationActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农情资讯" />
        </activity>
              <activity
            android:name="com.lnpdit.woofarm.page.activity.farminformation.NewsInfo_Activity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="农情资讯详细信息页" />
        </activity>
                   <activity
            android:name="com.lnpdit.woofarm.page.activity.personal.AboutUsActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户中心-关于我们" />
            
        </activity>   
                           <activity
            android:name="com.lnpdit.woofarm.page.activity.personal.BasicInfoActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户中心-基本信息" />
            
        </activity> 
           <activity
            android:name="com.lnpdit.woofarm.page.activity.personal.OldPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户中心-修改密码1-旧密码界面 " />
        </activity>
          <activity
            android:name="com.lnpdit.woofarm.page.activity.personal.ModifyPasswordActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="用户中心-修改密码1-输入新密码" />
        </activity>   
                 <activity
            android:name="com.lnpdit.woofarm.page.activity.personal.DeviceListActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="DESCRIPTION"
                android:value="设备管理列表" />
        </activity>    
       
    </application>

</manifest>